<main>
  <img
    ngSrc="/logo.png"
    alt="logo"
    width="695"
    height="401"
    priority
    class="h-full w-full max-w-[480px] object-contain"
  />
  <div
    class="mt-12 flex items-center justify-center gap-x-16 max-sm:flex-col max-sm:gap-y-8"
  >
    <p-button
      label="Se connecter"
      (onClick)="navigateToLogin()"
      rounded="true"
      size="large"
      class="w-full"
      styleClass="max-sm:w-full w-52 h-12 border-2"
    />
    <p-button
      label="S'inscrire"
      (onClick)="navigateToRegister()"
      rounded="true"
      size="large"
      class="w-full"
      styleClass="w-52 h-12 border-2 max-sm:w-full"
      [outlined]="true"
    />
  </div>
</main>
